.introBox {
  background-color: #5246bc;
  width: 100%;
  height: 100vh;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.introBox.hide {
  display: none;
}

.holdBox {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #1f3a5c;
  border-radius: 50%;
  color: #dc9b1a;
  margin: 0 auto;
  transform: scale(1);
  transition-timing-function: ease-in;
}

.textBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 350px;
  color: #dc9b1a;
}

.textBox i {
  font-size: 35px;
  margin-bottom: 10px;
}
.textBox h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.textBox p {
  color: #222;
}
