@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

.p3-container {
  width: 100%;

  background-color: black;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.p3-bg {
  position: absolute;
  width: 100%;
  height: 100vw;
  background-color: black;
  opacity: 1;
}
.p3-bg img {
  position: absolute;
  width: auto;
  height: 100%;
  left: 50%;

  transform: translate(-50%, -5%);
}
.page3-topBar {
  position: absolute;
  width: 100%;
  margin-top: 5vw;
  height: 5vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3-topBar > li {
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 0.5px solid rgba(255, 255, 255, 0.5);
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  display: flex;
}
.page3-topBar > li:nth-child(2),
.page3-topBar > li:nth-child(3),
.page3-topBar > li:nth-child(4) {
  flex-direction: column;
  justify-content: end;
  gap: 0.5vw;
  font-size: 1vw;
  padding-left: 2vw;
  padding-bottom: 0.5vw;
}

.page3-topBar > li:last-child {
  border-right: none;
}

.page3-topBar-list1-logo {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2vw;
}

.page3-topBar-list1-logo > li {
  position: relative;
  width: 2vw;
  height: 2vw;
  background-color: #1631ba;
  border-radius: 50%;
}

.cresent::before {
  content: "";
  position: absolute;
  width: 1.8vw;
  height: 1.8vw;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-radius: 50%;
  background-color: black;
}
.halfmoon::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  background-color: black;
}

#page3-topBar-list1-title {
  width: 60%;
  height: 100%;
  color: #1631ba;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  font-size: 1.2vw;
  gap: 0.5vw;
  padding-bottom: 0.3vw;
}

.page3-topBar > li:nth-child(2) p,
.page3-topBar > li:nth-child(3) p,
.page3-topBar > li:nth-child(4) p {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}

.page3-topBar > li:nth-child(2) p span,
.page3-topBar > li:nth-child(3) p span,
.page3-topBar > li:nth-child(4) p span {
  color: white;
  font-weight: 700;
  margin-right: 0.3vw;
}

.list4-moon {
  position: absolute;

  width: 7vw;
  height: 3vw;
  right: 3vw;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5vw;
}

.list4-moon li {
  position: relative;
  background-color: #b91a3f;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}
.list4-moon li:nth-child(1) {
  left: 0.5vw;
  z-index: 1;
}
.list4-halfmoon::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 2vw;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  background-color: black;
}
.list4-cresent::before {
  content: "";
  position: absolute;
  width: 1.9vw;
  height: 1.9vw;
  top: 50%;
  left: -50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  background-color: black;
}

.p3-bg-title {
  position: relative;
  width: 90%;
  height: auto;

  left: 5%;
  top: 20vw;
  font-weight: 900;
  font-size: 30vw;
}

.p3-bg-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p3-pageBg {
  position: relative;
  width: 90%;
  height: 100vw;
  left: 5%;
  top: 11vw;
  background-color: #5f4fb5;
}

.p3-object1 {
  position: absolute;
  width: 45%;
  height: 28vw;
  top: 25vw;
  right: 2vw;
  font-family: "Playfair Display", sans-serif;
  display: flex;
}

.p3-object1-num {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 50%;
  bottom: 1vw;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: 0.5vw;
}

.p3-object1-man {
  width: 50%;
  height: 100%;
  background-color: #1f2a63;
}
.p3-object1-man img {
  position: relative;
  width: 70%;
  left: 15%;
  top: 8%;
}
.p3-object1-man-title {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: rotate(-90deg);
  color: rgb(255, 255, 255);
  font-size: 1vw;
}

.p3-object1-man-explain {
  position: absolute;
  width: 70%;
  top: 75%;
  left: 8%;
  font-size: 0.8vw;
  color: rgb(201, 201, 201);
}
.p3-object1-girl {
  width: 50%;
  height: 100%;
  background-color: #8d233c;
}

.p3-object1-girl img {
  position: relative;
  width: 70%;
  top: 20%;
  left: 15%;
}

.p3-object1-girl-title {
  position: absolute;
  top: 50%;
  right: -2%;
  transform: rotate(-90deg);
  color: rgb(255, 255, 255);
  font-size: 1vw;
}

.p3-object1-girl-explain {
  position: absolute;
  width: 70%;
  top: 10%;
  left: 58%;
  font-size: 0.8vw;
  color: rgb(201, 201, 201);
}
.p3-object2 {
  position: absolute;
  width: 45%;
  height: 28vw;
  top: 68vw;
  left: 2vw;
  background-color: white;
  font-family: "Playfair Display", sans-serif;
}

.p3-object2-imgBox {
  position: absolute;
  width: 45%;
  height: 90%;
  top: 5%;
  left: 0%;
  transform: translateX(105%);
  background-color: black;
}

.p3-object2-imgBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p3-object2-title {
  position: absolute;
  left: 3%;
  top: 4%;
  font-weight: 100;
  font-size: 2vw;
  letter-spacing: 0.1vw;
}

.p3-object2-date {
  position: absolute;
  font-weight: 400;
  font-size: 1.3vw;
  writing-mode: vertical-lr;
  left: 42%;
  top: 7%;
}

.p3-object2-left-bottom {
  position: absolute;
  bottom: 20%;
  left: -6%;
  font-weight: 100;
  font-size: 1.2vw;
  transform: rotate(-90deg);
}
.p3-object2-bottom-title {
  position: absolute;
  bottom: 3%;
  left: 30%;
  font-weight: 100;
  font-size: 1.5vw;
  transform: rotate(-180deg);
}

.p3-object2-Topnumber {
  position: absolute;
  right: 3%;
  top: 4%;
  font-weight: 100;
  font-size: 1.5vw;
}

.p3-object2-Bottomnumber {
  position: absolute;
  right: 3%;
  bottom: 6%;
  font-weight: 100;
  font-size: 1.5vw;
}

.p3-object3 {
  position: absolute;
  width: 45%;
  height: 30vw;
  top: 100vw;
  right: 2vw;
  background-color: white;
  font-family: "Playfair Display", sans-serif;
  display: flex;
}

.p3-object3-imgBox {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #fcdb00;
  right: 0;
}

.p3-object3-num {
  z-index: 5;
  position: absolute;
  font-weight: 700;
  right: 1vw;
  top: 0vw;
}

.p3-object3-imgBox img {
  position: absolute;
  width: 70%;
  bottom: 0;
  right: 0;
}

.p3-object3-name {
  position: absolute;
  font-size: 8vw;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p3-object3-explain {
  position: absolute;
  font-size: 0.8vw;
  left: 35.5%;
  top: 58%;
  transform: translate(-50%, 100%);
}

.p3-object3-titleBox {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
}

.p3-object3-titleBox-logo {
  position: absolute;
  width: 4vw;
  height: 2.5vw;
  background-color: black;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  text-transform: uppercase;
}

.p3-object3-titleBox-logo p {
  position: relative;
}

.p3-object3-titleBox-center {
  position: absolute;
  width: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5vw;
  transform: rotate(90deg) translateX(5vw);
  transform-origin: left;
  top: -2vw;
  left: 50%;
}
.p3-object3-titleBox-center > div {
  background-color: black;
  width: 3vw;
  height: 1vw;
  color: white;
  font-size: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p3-object3-titleBox-center-caramel {
  text-transform: uppercase;
  font-size: 0.8vw;
  font-weight: 900;
}

.p3-object3-titleBox-center-americano {
  font-size: 0.5vw;
}
.p3-object3-bottomLogo {
  position: absolute;
  width: 5vw;
  height: 2.5vw;
  left: 50%;
  bottom: 1vw;
  transform: translateX(-50%);
  background-color: black;
}

.p3-object3-bottomLogo::before {
  position: absolute;
  content: "";
  width: 2.5vw;
  height: 2.5vw;
  right: -1.25vw;
  border-radius: 50%;
  background-color: black;
}
.p3-object3-bottomLogo::after {
  position: absolute;
  content: "";
  width: 2.5vw;
  height: 2.5vw;
  left: -1.25vw;
  border-radius: 50%;
  background-color: black;
}

.p3-object3-bottomLogo-circle {
  z-index: 1;
  position: absolute;
  width: 2vw;
  height: 2vw;
  left: -1vw;
  top: 0.25vw;
  border-radius: 50%;
  background-color: #fcdb00;
}

.p3-object3-bottomLogo-color {
  z-index: 10;
  position: absolute;
  color: #fcdb00;
  font-size: 1vw;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-family: "Montserra", sans-serif;
}

.p3-object3-titleBox-line {
  position: absolute;
  width: 1vw;
  height: 100%;
  border-left: 2px dashed gray;
  left: 0.5vw;
}

.p3-object4 {
  position: absolute;
  width: 30%;
  height: 40vw;
  top: 120vw;
  left: 30%;
  transform: translateX(-50%);
  border: 1px solid red;
  font-family: "Playfair Display", sans-serif;
  display: flex;
}
