@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  list-style-type: none;
}
.p2-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page2-objects {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  --object-1: #671f19;
  --object-2: #000;
  --object-3: #77543e;
  --object-4: rgb(87, 70, 87);
  list-style-type: none;
}
/*#page2-object1*/
#page2-object1 {
  background-color: var(--object-1);
  position: absolute;
  right: 0;
  width: 80%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#page2-object1 ul:nth-child(1) {
  position: relative;
  width: 100%;
  height: 5%;
  list-style-type: none;
  display: flex;
  align-items: end;
  font-family: "Montserrat", sans-serif;
}
#page2-object1 ul:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 5%;
  list-style-type: none;
  display: flex;
  align-items: end;
  font-family: "Montserrat", sans-serif;
  bottom: 5%;
}

#page2-object1 ul:nth-child(1) li {
  position: relative;
  height: 40%;
  width: 100%;
  bottom: 0%;
  border-top: solid;
  border-color: black;
  border-width: 1px;
}
#page2-object1 ul:nth-child(2) li {
  position: relative;
  height: 40%;
  width: 100%;
  bottom: 0%;
  border-bottom: solid;
  border-color: black;
  border-width: 1px;
}
#page2-object1 ul li a {
  font-size: 0.9vw;
}
#page2-object1 ul li:nth-child(1) {
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-weight: 500;
  color: rgb(215, 181, 77);
  border-right: solid;
  border-color: black;
  border-width: 1px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

#page2-object1 ul li:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: center;
  font-size: 1vw;
  font-weight: 500;
  color: black;
  gap: 20%;
  border-right: solid;
  border-color: black;
  border-width: 1px;
}
#page2-object1 ul li:nth-child(2) a {
  font-weight: 300;
}
#page2-object1 ul li:nth-child(3) {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: center;
  font-size: 1vw;
  font-weight: 500;
  color: black;
  gap: 20%;
  border-right: solid;
  border-color: black;
  border-width: 1px;
}
#page2-object1 ul li:nth-child(3) a {
  font-weight: 300;
}
#page2-object1 ul li:nth-child(4) {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: center;
  font-size: 1vw;
  font-weight: 500;
  color: black;
  gap: 20%;
}

#page2-object1 .page2-object1-backgroundText {
  position: absolute;
  width: 100%;
  height: 100%;
  writing-mode: vertical-rl;
  font-size: 80vw;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  left: 10%;
  opacity: 0.2;
}

#page2-object1 .page2-object1-titleText {
  position: absolute;
  width: 30%;
  height: 50%;
}
#page2-object1 .page2-object1-titleText p {
  width: 200%;
  height: 10%;
  position: absolute;
  bottom: 10%;
  left: 40%;
  transform: rotate(270deg);
  transform-origin: left;
  color: rgb(215, 181, 77);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 4vw;
}
#page2-object1 .page2-object1-titleText2 {
  position: absolute;
  width: 30%;
  height: 50%;
}
#page2-object1 .page2-object1-titleText2 p {
  width: 200%;
  height: 10%;
  position: absolute;
  bottom: -10%;
  left: 110%;
  transform: rotate(270deg);
  transform-origin: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3vw;
}

#page2-object1 ul:nth-child(1) li:nth-child(4) a {
  font-weight: 300;
}

/*#page2-object2*/
#page2-object2 {
  background-color: var(--object-2);
  position: absolute;
  left: 5%;
  width: 88%;
  height: 25%;
  top: 6%;
  z-index: 1;
}
#page2-object2 .page2-object2-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#page2-object2 .page2-object2-bg .page2-object2-bg-shapes-circle1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border: 2px solid gray;
  border-radius: 50%;
  right: -1vw;
  top: -8vw;
  opacity: 0.2;
}
#page2-object2 .page2-object2-bg .page2-object2-bg-shapes-circle2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border: 2px solid gray;
  border-radius: 50%;
  left: -15vw;
  top: 8vw;
  background-color: black;
  opacity: 0.2;
}

#page2-object2 .page2-object2-bg .page2-object2-bg-shapes-Square {
  position: absolute;
  width: 100%;
  height: 50%;
  border-top: 2px solid rgba(128, 128, 128, 0.2);
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#page2-object2 .page2-object2-bg .page2-object2-bg-shapes-Square-text {
  width: 33%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 5vw;
  display: flex;
  opacity: 0.5;
}
#page2-object2 .page2-object2-bg .page2-object2-bg-shapes-Square-text li {
  width: 50%;
  height: 100%;
  position: relative;

  color: white;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vw;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 0.8vw;
}

#page2-object2 .page2-object2-bg .page2-object2-bg-text {
  padding: 0;
  position: absolute;
  color: black;

  text-shadow: -1px -1px 0 rgba(128, 128, 128, 0.2),
    1px -1px 0 rgba(128, 128, 128, 0.2), -1px 1px 0 rgba(128, 128, 128, 0.2),
    1px 1px 0 rgba(128, 128, 128, 0.2);
  font-size: 12vw;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  /* opacity: 0.3; */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#page2-object2 .page2-object2-bg .page2-object2-bg-shapes-Square-left {
  position: absolute;
  width: 2.5%;
  height: 50%;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: black;
  bottom: -10%;
  left: 10%;
  transform: rotate(35deg);
}
#page2-object2 .page2-object2-bg .page2-object2-bg-shapes-Square-right {
  position: absolute;
  width: 2.5%;
  height: 100%;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: black;
  bottom: -10%;
  right: 45%;
  transform: rotate(-40deg);
}

#page2-object2 .page2-object2-topBar {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
}
#page2-object2 .page2-object2-topBar .page2-object2-topBar-title {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2vw;
  padding-left: 5%;
  width: 45%;
}
#page2-object2 .page2-object2-topBar .page2-object2-topBar-title h2 {
  font-weight: 400;
  font-size: 3vw;
  color: white;
}

#page2-object2 .page2-object2-topBar .page2-object2-topBar-title i {
  position: relative;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2),
    1px -1px 0 rgba(255, 255, 255, 0.2), -1px 1px 0 rgba(255, 255, 255, 0.2),
    1px 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 2vw;
  top: 0.3vw;
}

#page2-object2 .page2-object2-bottom-title {
  position: absolute;
  width: 50%;
  height: 20%;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2-object2 .page2-object2-bottom-title h2 {
  font-size: 3vw;
  font-weight: 400;
}

#page2-object2 .page2-object2-topBar ul {
  width: 55%;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8vw;
}
#page2-object2 .page2-object2-topBar ul li {
  padding-left: 10px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vw;
}
#page2-object2 .page2-object2-topBar ul li p:nth-child(1) {
  opacity: 0.6;
}
#page2-object2 .page2-object2-topBar ul li p:nth-child(2) {
  opacity: 0.4;
}

#page2-object2 .page2-object2-s-photo {
  position: relative;
  width: 15vw;
  height: 17vw;
  left: 5vw;
}
#page2-object2 .page2-object2-s-photo .page2-object2-s-photo-imgBox {
  position: relative;
  width: 100%;
  height: 13vw;
  background-color: red;
}
#page2-object2 .page2-object2-s-photo .page2-object2-s-photo-imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page2-object2 .page2-object2-s-photo ul {
  position: relative;
  width: 100%;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8vw;
  opacity: 0.8;
}
#page2-object2 .page2-object2-s-photo ul::before {
  content: "";
  position: absolute;
  left: -2vw;
  width: 0.05vw;
  height: 2vw;
  background-color: white;
}
#page2-object2 .page2-object2-s-photo ul::after {
  content: "";
  position: absolute;
  left: -1.6vw;
  width: 0.05vw;
  height: 2vw;
  background-color: white;
}

#page2-object2 .page2-object2-m-photo {
  position: absolute;
  width: 17vw;
  height: 15vw;
  left: 52%;
  top: 35%;
  transform: translate(-50%, -30%);
  background-color: blue;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.2);
}
#page2-object2 .page2-object2-m-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page2-object2 .page2-object2-l-photo {
  position: absolute;
  width: 50%;
  height: 80%;
  background-color: gray;
  top: 20%;
  right: 0;
}

#page2-object2 .page2-object2-l-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page2-object2 .page2-object2-l-photo p {
  position: absolute;
  color: black;
  font-size: 1.5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  top: 20%;
  left: 20%;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}

/*#page2-object3*/
#page2-object3 {
  background-color: var(--object-3);
  position: absolute;
  right: 0%;
  width: 45%;
  height: 30%;
  top: 28%;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}
.page2-object3-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-family: "Playfair Display", serif;
}
.page2-object3-bg-logo {
  position: absolute;

  width: 10vw;
  height: 10vw;
  font-size: 23vw;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  opacity: 0.1;
}

.page2-object3-topBar {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 10%;
}
.page2-object3-topBar li {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1vw;
}
.page2-object3-topBar li:nth-child(1) {
  font-size: 1.5vw;
  padding-left: 2vw;
  color: #dead43;
}
.page2-object3-topBar li:nth-child(2) {
  justify-content: center;
}
.page2-object3-topBar li:nth-child(3) {
  justify-content: center;
  font-weight: 500;
  opacity: 0.9;
}
.page2-object3-topBar-next {
  position: relative;
  text-align: center;
  width: 100%;
  transform: translateY(-2vw);
  padding-left: 3vw;
  font-size: 1vw;
  font-weight: 600;
}
.page2-object3-title {
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #dead43;
  font-family: "Playfair Display", serif;
  margin-bottom: 2vw;
}
.page2-object3-title p {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 3vw;
  letter-spacing: 0.3vw;
  position: absolute;
  bottom: 0;
}
.page2-object3-line {
  position: relative;
  width: 5vw;
  height: 0.1vw;
  background-color: #dead43;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2vw;
}
.page2-object3-stitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  color: #dead43;
  text-transform: uppercase;
  font-size: 0.8vw;
  letter-spacing: 0.2vw;
}

.page2-object3-bottomBar {
  position: absolute;
  width: 100%;
  height: 10%;

  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  font-size: 1vw;
}

/*#page2-object4*/
#page2-object4 {
  background-color: var(--object-4);
  position: absolute;
  left: 10%;
  width: 80%;
  height: 25%;
  top: 63%;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}

.page2-object4-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page2-object4-bg-shapes-circle1 {
  position: absolute;
  width: 20vw;
  height: 20vw;
  border: 1px solid white;
  border-radius: 50%;
  right: 1vw;
  top: -10vw;
  opacity: 0.2;
}
.page2-object4-bg-shapes-circle2 {
  position: absolute;
  width: 20vw;
  height: 20vw;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  left: -13vw;
  top: 50%;
  transform: translateY(-50%);
}
.page2-object4-bg-shapes-circle2::before {
  position: absolute;
  content: "";
  width: 0.5vw;
  height: 2vw;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
}
.page2-object4-bg-shapes-circle2::after {
  position: absolute;
  content: "";
  width: 0.5vw;
  height: 2vw;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  top: 50%;
  right: 23%;
  transform: translateY(-50%);
}

.page2-object4-bg-shapes-Square {
  position: absolute;
  width: 100%;
  height: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.page2-object4-bg-shapes-Square-text1 {
  width: 10%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 5vw;
  display: flex;
  justify-content: center;
  gap: 0.5vw;
  opacity: 0.4;

  flex-direction: column;
  color: white;
}
.page2-object4-bg-shapes-Square-text1 p {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 0.8vw;
}
.page2-object4-bg-shapes-Square-text2 {
  position: absolute;

  width: 35%;
  right: 5%;
  top: 10%;
  text-align: right;
  font-size: 0.8vw;
  color: white;
  opacity: 0.6;
}

.page2-object4-bg-shapes-Square-text2 p:nth-child(2) {
  opacity: 0.6;
}

.page2-object4-bg-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.page2-object4-bg-shapes-Square-left {
  position: absolute;
  width: 4vw;
  height: 5vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgb(87, 70, 87);
  bottom: 20%;
  left: 20%;
  transform: skewX(30deg);
}
.page2-object4-bg-shapes-Square-right {
  position: absolute;
  width: 5vw;
  height: 8vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgb(87, 70, 87);
  top: 20%;
  right: 55%;
  transform: skewX(-30deg);
}

.page2-object4-textBox {
  width: 100%;
  height: 100%;
}

.page2-object4-textBox-topBar {
  width: 100%;
  height: 25%;
  display: flex;
}

.page2-object4-textBox-topBar div {
  width: 50%;
  padding: 2vw;
  color: white;
}

.page2-object4-textBox-topBar div:nth-child(1) {
  font-size: 2vw;
  font-weight: 400;
  padding: 2.5vw 3vw;
}
.page2-object4-textBox-topBar div:nth-child(2) {
  font-size: 1.3vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.page2-object4-textBox-topBar div:nth-child(2) p:nth-child(1) {
  opacity: 0.5;
}
.page2-object4-textBox-bottomBar {
  position: absolute;
  width: 100%;
  height: 25%;
  display: flex;
  bottom: 0;
}

.page2-object4-textBox-bottomBar div {
  width: 50%;
  height: 100%;
  padding: 2vw;
  color: white;

  position: absolute;
}

.page2-object4-textBox-bottomBar div:nth-child(1) {
  position: absolute;
  font-size: 2vw;
  font-weight: 400;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 2.5vw 3vw;
}

.page2-object4-textBox-bottomBar div:nth-child(2) {
  font-size: 0.8vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5vw;
  right: 0;
  opacity: 0.5;
}

.page2-object4-textBox-center {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 5vw;
  letter-spacing: 0.2vw;
}

.page2-object4-textBox-center div:nth-child(1) {
  position: absolute;
  transform: translateY(16%);
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.05);
}
.page2-object4-textBox-center div:nth-child(2) {
  position: absolute;
  transform: translateY(12%);
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
}
.page2-object4-textBox-center div:nth-child(3) {
  position: absolute;
  transform: translateY(8%);
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
}
.page2-object4-textBox-center div:nth-child(4) {
  position: absolute;
  transform: translateY(4%);
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
}
.page2-object4-textBox-center div:nth-child(5) {
  position: absolute;
}

.page2-object4-imgBox {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
}

.page2-object4-imgBox ul li {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-color: gray;
}
.page2-object4-imgBox ul li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page2-object4-imgBox ul li:nth-child(1) {
  right: 20%;
  top: 45%;
  width: 6vw;
  height: 6vw;
  transform: rotate(10deg);
}
.page2-object4-imgBox ul li:nth-child(2) {
  left: 0;
  top: 95%;
  width: 9vw;
  height: 11vw;
  transform: rotate(-15deg);
}
.page2-object4-imgBox ul li:nth-child(3) {
  left: 10%;
  top: -25%;
  width: 10vw;
  height: 12vw;
  transform: rotate(15deg);
}

.page2-object4-imgBox ul li:nth-child(4) {
  left: 35%;
  top: -15%;
  width: 9vw;
  height: 12vw;
  transform: rotate(-15deg);
}
.page2-object4-imgBox ul li:nth-child(5) {
  right: 10%;
  top: -15%;
  width: 12vw;
  height: 15vw;
  transform: rotate(-20deg);
}
.page2-object4-imgBox ul li:nth-child(6) {
  left: -5%;
  top: 20%;
  width: 15vw;
  height: 12vw;
  transform: rotate(5deg);
}
.page2-object4-imgBox ul li:nth-child(7) {
  left: 30%;
  bottom: -15%;
  width: 14vw;
  height: 18vw;
  transform: rotate(5deg);
}
.page2-object4-imgBox ul li:nth-child(8) {
  right: -5%;
  bottom: -10%;
  width: 14vw;
  height: 17vw;
  transform: rotate(5deg);
}

#page2-bottomBg {
  position: absolute;
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 10vw;
  z-index: 0;
}
