@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
.p4-container {
  position: relative;
  width: 100%;
  height: 60vw;
  background-color: #c6c2c3;
  font-family: "Montserrat", sans-serif;
  display: flex;
}

.p4-container::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 2vw;
  left: 5%;
  background-color: #5f4fb5;
}

.p4-title {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: calc(35% + 5vw);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  font-family: "Kalnia", sans-serif;
  color: rgb(48, 36, 0);
}

.p4-slide-Wrapper {
  position: relative;
  height: 60%;
  top: 35%;
  overflow: auto;
  display: flex;
}

.p4-slideBox {
  position: relative;
  top: 10%;
  height: 80%;
  display: flex;
  flex-wrap: nowrap;
}

.p4-slideBox > li {
  position: relative;
  background-color: white;
  width: 23vw;
  box-shadow: 0.3vw 0.15vw 0.2vw rgba(0, 0, 0, 0.5);
  margin-right: 2vw;
}

.p4-slideBox > li:nth-child(1) {
  width: 20vw;
}

.page4-object1-title {
  position: absolute;
  left: 50%;
  top: 7%;
  transform: translateX(-50%);
  font-size: 1vw;
}

.page4-object1-ImgWrapper {
  position: relative;
  top: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  width: 100%;
  height: 60%;
}

.page4-object1:hover > .page4-object1-ImgWrapper li:nth-child(1) {
  height: 100%;
}
.page4-object1:hover > .page4-object1-ImgWrapper li:nth-child(1) img {
  top: 0;
}

.page4-object1:hover > .page4-object1-ImgWrapper li:nth-child(3) {
  height: 100%;
}
.page4-object1:hover > .page4-object1-ImgWrapper li:nth-child(3) img {
  top: 0;
}

.page4-object1-ImgWrapper li {
  position: relative;
  width: 4vw;
  background-color: gray;
  box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.5);
}

.page4-object1-ImgWrapper li:nth-child(1) {
  height: 70%;
  transition: 1s all;
  overflow: hidden;
}
.page4-object1-ImgWrapper li:nth-child(1) img {
  position: absolute;
  width: 20vw;
  left: -98%;
  top: -32%;
  transition: 1s all;
}
.page4-object1-ImgWrapper li:nth-child(2) {
  height: 100%;
  overflow: hidden;
}
.page4-object1-ImgWrapper li:nth-child(2) img {
  position: absolute;
  width: 20vw;
  left: -210%;
  top: -10%;
}
.page4-object1-ImgWrapper li:nth-child(3) {
  height: 70%;
  overflow: hidden;
  transition: 1s all;
}

.page4-object1-ImgWrapper li:nth-child(3) img {
  position: absolute;
  width: 20vw;
  left: -323%;
  top: -32%;
  transition: 1s all;
}

.page4-object1-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 82%;
  width: 3vw;
  border-bottom: 0.2vw solid black;
}

.page4-object1-sign {
  position: absolute;
  width: 90%;
  top: 81%;
  left: 5%;
}

.page4-object1-text {
  font-size: 0.4vw;
  position: absolute;
  top: 93%;
  width: 50%;
  left: 25%;
  text-align: center;
}

.p4-slideBox > li:nth-child(2) {
  width: 22vw;
}

.page4-object2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1.5s;
  filter: brightness(120%);
}

.page4-object2:hover .page4-object2-img {
  opacity: 0;
}
.page4-object2:hover .page4-object2-textBox {
  opacity: 0;
}

.page4-object2-textBox {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.page4-object2-textBox-1 {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 1vw;
  display: flex;
  width: 20%;
  align-items: center;
  flex-wrap: wrap;
  left: 65%;
  top: 8%;
  height: 13%;
}

.page4-object2-textBox-1 p {
  letter-spacing: -0.02vw;
}
.page4-object2-textBox-1 p:nth-child(1) {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.1vw;
}

.page4-object2-textBox-1 p:nth-child(1) span {
  position: relative;
  display: block;
  width: 1.5vw;
  height: 0.3vw;
  border-bottom: 2px solid black;
}

.page4-object2-textBox-1 p:nth-child(2) {
  position: relative;
  top: -0.5vw;
}
.page4-object2-textBox-1 p:nth-child(3) {
  position: relative;
  top: -0.9vw;
}

.page4-object2-textBox-2 {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 0.6vw;
  display: flex;
  width: 25%;
  align-items: center;
  flex-wrap: wrap;
  left: 65%;
  top: 13%;
}

.page4-object2-textBox-3 {
  position: absolute;
  display: block;
  width: 100%;
  height: 30%;

  font-size: 0.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  top: 35%;
}

.page4-object2-textBox-3 h2 {
  font-size: 2vw;
  font-weight: 700;
}
.page4-object2-textBox-3 p:nth-child(2) {
  position: relative;
  left: 10%;
  font-size: 0.5vw;
  font-weight: 700;
}
.page4-object2-textBox-3 p:nth-child(3) {
  position: relative;
  left: 25%;
  font-size: 0.5vw;
  font-weight: 700;
}

.page4-object2-textBox-4 {
  position: relative;
  width: 15%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  left: 65%;
  top: 55%;
}
.page4-object2-textBox-4 li {
  position: relative;
  width: 30%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5vw;
}
.page4-object2-textBox-4 li:nth-child(2) {
  left: -5%;
}
.page4-object2-textBox-4 li:nth-child(3) {
  left: -12%;
}
.page4-object2-textBox-4 li:nth-child(4) {
  top: -10%;
  font-size: 1.4vw;
}
.page4-object2-textBox-4 li:nth-child(5) {
  top: -12%;
  left: -1%;
  font-size: 1.4vw;
}
.page4-object2-textBox-4 li:nth-child(6) {
  top: -11%;
  left: -6%;
  font-size: 1.4vw;
}

.page4-object2-textBox-5 {
  position: relative;
  display: block;
  width: 40%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  left: 65%;
  top: 58%;
  font-size: 0.4vw;
  font-weight: 700;
}
.page4-object2-textBox-5 p {
  width: 100%;
  position: relative;
}
.page4-object2-textBox-5 p:nth-child(2) {
  top: -0.4vw;
}
.page4-object2-textBox-5 p:nth-child(3) {
  top: -0.3vw;
}

.p4-slideBox > li:nth-child(3) {
  width: 18vw;
  overflow: hidden;
}

.page4-object3-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

.page4-object3-bg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 18vw;
  height: 29vw;
  filter: brightness(70%);
}

.page4-object3-circle {
  position: absolute;
  width: 6.8vw;
  height: 6.8vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(98, 98, 98);
  border: 0.1vw solid white;
  color: white;
  font-size: 0.4vw;
  text-align: center;
}

.page4-object3-imgBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6.6vw;
  height: 6.6vw;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
  transition: 1s;
  transform-origin: center;
}

.p4-slideBox > li:nth-child(3):hover .page4-object3-circle {
  animation: circleRotate 15s infinite ease;
}
.p4-slideBox > li:nth-child(3):hover .page4-object3-imgBox {
  animation: ImgRotate 15s infinite ease;
}
@keyframes circleRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes ImgRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.page4-object3-imgBox:hover {
  width: 18vw;
  height: 30vw;
  border-radius: 0%;
}
.page4-object3-imgBox:hover > img {
  left: 0vw;
  top: 0.5vw;
}

.page4-object3-imgBox img {
  position: absolute;
  left: -5.65vw;
  top: -11.1vw;
  width: 18vw;
  height: 29vw;
  transition: 1s;
}

.page4-object3-circle span {
  position: absolute;
  top: -0.75vw;
  transform-origin: 0 4vw;
}

.page4-object3-Plus {
  position: absolute;
  width: 1.8vw;
  height: 1.8vw;
}

.page4-object3-Plus::before {
  position: absolute;
  content: "";
  width: 0.1vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
.page4-object3-Plus::after {
  position: absolute;
  content: "";
  height: 0.1vw;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
}

#plus-top {
  left: 72%;
  top: 25%;
}
#plus-bottom {
  right: 72%;
  bottom: 25%;
}

.page4-object3-date {
  position: absolute;
  width: 1.8vw;
  height: 15%;
  top: 25%;
  right: 72%;
  color: white;
  font-size: 0.4vw;
  writing-mode: vertical-lr;
  transform: scale(-1);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.page4-object3-date p span {
  position: relative;
  display: inline-block;
  width: 0.1vw;
  border-left: 0.05vw solid white;
  left: 0.05vw;
  height: 50%;
  margin-bottom: 0.6vw;
}
.page4-object3-week {
  position: absolute;
  width: 1.8vw;
  height: 15%;
  bottom: 33%;
  left: 72%;
  color: white;
  font-size: 0.4vw;
  writing-mode: vertical-lr;
  transform: scale(-1);
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.page4-object3-week p:nth-child(1) {
  position: relative;
  display: inline-block;
  text-align: right;
  top: -0.15vw;
}
.page4-object3-week p:nth-child(2) {
  display: inline-block;
}

.page4-object3-week p span {
  position: relative;
  display: inline-block;
  width: 0.1vw;
  height: 50%;
  border-left: 0.05vw solid white;
  left: 0.05vw;
  margin-top: 0.6vw;
}

.page4-object3-title {
  position: absolute;
  width: 3vw;
  height: 6vw;
  transform: scale(-1) translateX(50%);
  writing-mode: vertical-lr;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  left: 50%;
}
#title-top {
  top: 3vw;
}

#title-bottom {
  height: 5vw;
  bottom: 4vw;
  align-items: start;
}

.p4-slideBox > li:nth-child(4) {
  width: 21vw;
}

.page4-object4-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.page4-object4-bg img {
  position: absolute;
  width: 100%;
  left: 0;
  top: -1vw;
  filter: brightness(90%);
}

.page4-object4-title {
  position: absolute;
  font-family: "Dancing Script", cursive;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  color: rgb(251, 191, 27);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.page4-object4-singer {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 0.6vw;
  font-size: 700;
  font-family: "Kalnia", sans-serif;
  letter-spacing: 0.2vw;
}

.page4-object4-right-line {
  position: absolute;
  writing-mode: vertical-lr;
  right: 5%;
  top: 5%;
  height: 80%;
  font-family: "Popins", sans-serif;
  font-size: 0.8vw;
  font-weight: 900;
  color: rgb(251, 191, 27);
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 1);
}

.page4-object4-right-line span {
  display: inline-block;
  background-color: rgb(251, 191, 27);
  width: 0.1vw;
  height: 70%;
  position: relative;
  top: 3%;
  box-shadow: -0.5px 0.5px 0.5px rgba(0, 0, 0, 1);
}
.page4-object4-left-line {
  position: absolute;
  writing-mode: vertical-lr;
  left: 5%;
  bottom: 5%;
  height: 80%;
  font-family: "Popins", sans-serif;
  font-size: 0.8vw;
  font-weight: 900;
  color: rgb(251, 191, 27);
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 1);
  transform: scale(-1);
}

.page4-object4-left-line span {
  display: inline-block;
  background-color: rgb(251, 191, 27);
  width: 0.1vw;
  height: 70%;
  position: relative;
  top: 3%;
  box-shadow: -0.5px 0.5px 0.5px rgba(0, 0, 0, 1);
}

.page4-object4-lyrics {
  position: absolute;
  width: 30%;
  height: 3vw;
  bottom: 2%;
  right: 5%;
  color: rgb(251, 191, 27);
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 1);
  font-family: "Popins", sans-serif;
  font-size: 0.5vw;
  font-weight: 900;
}

.p4-slideBox > li:nth-child(5) {
  width: 19vw;
}

.page4-object5-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.page4-object5-bg img {
  position: absolute;
  width: 100%;
  top: -1vw;
}

.page4-object5Box {
  position: absolute;
  width: 55%;

  height: 15vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
}
.page4-object5Box li {
  position: relative;
}

.page4-object5Box li:nth-child(1) {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page4-object5Box li:nth-child(1) p:nth-child(1) {
  font-size: 0.7vw;
  font-weight: 600;
}
.page4-object5Box li:nth-child(1) p:nth-child(2) {
  font-size: 0.4vw;
}

.page4-object5Box li:nth-child(2) {
  font-weight: 900;
  font-size: 3.5vw;
  top: -0.5vw;
  color: rgba(255, 255, 255, 0.7);
}
.page4-object5Box li:nth-child(3) {
  color: rgb(255, 232, 21);
  font-size: 1vw;
  font-weight: 500;
  top: -0.7vw;
  margin-bottom: 0vw;
}
.page4-object5Box li:nth-child(4) {
  width: 95%;
  font-size: 0.55vw;
  word-break: break-all;
  margin-bottom: 0.6vw;
}
.page4-object5Box li:nth-child(5) {
  display: flex;
  margin-bottom: 0.4vw;
}
.page4-object5Box li:nth-child(5) span {
  display: inline-block;
  width: 1vw;
  height: 0.1vw;
  background-color: white;
}
.page4-object5Box li:nth-child(6) {
  font-size: 0.7vw;
  font-weight: 500;
  margin-bottom: 0.4vw;
}
.page4-object5Box li:nth-child(7) {
  font-size: 0.7vw;
  font-weight: 500;
  margin-bottom: 0.8vw;
}

.p4-slideBox > li:nth-child(6) {
  width: 19vw;
  font-family: "Poppins", sans-serif;
}

.page4-object6-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.page4-object6-bg img {
  position: absolute;
  width: 100%;
}

.page4-object6-date {
  position: absolute;
  font-size: 0.6vw;
  font-weight: 500;
  color: white;
  right: 5%;
  top: 5%;
}
.page4-object6-logo {
  position: absolute;
  height: 7.5%;
  left: 50%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translate(-50%, 0%);
  color: white;
  /* border: 1px solid red; */
}

.page4-object6-logo i {
  font-size: 1.5vw;
}
.page4-object6-logo p {
  font-size: 0.3vw;
  font-weight: 300;
}

.page4-object6-title {
  position: absolute;
  left: 50%;
  top: 37%;
  height: 10%;
  justify-content: space-between;
  transform: translate(-50%, 0%);
  color: white;
}

.page4-object6-title h2 {
  position: relative;
  color: black;
  top: -1vw;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.05vw;
  font-size: 1.8vw;
}

.page4-object6-title p {
  font-family: "Dancing Script", cursive;
  font-weight: 100;
  font-size: 0.7vw;
  display: inline-block;
  position: relative;
  left: -0.5vw;
  transform: rotate(3deg);
  letter-spacing: 0.05vw;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.page4-object6-searchBox {
  z-index: 10%;
  position: absolute;
  left: 50%;
  top: 53%;
  width: 53%;
  height: 4%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10vw;
  font-size: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.6vw 0 0.6vw;
}

.page4-object6-searchBox p {
  font-size: 0.45vw;
  position: absolute;
  left: 1.8vw;
}

.page4-object6-textBox {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translateX(-50%);
  width: 53%;
  height: 4%;
}
.page4-object6-textBox h2 {
  font-size: 5vw;
}
